*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgBlue: #1D1E26;
    --bgBlueh: #121318;
    --textWhite: #E4CEF2;
    --titlePurple: #5E35F2;
    --titlePurpleh:#4f2ccf;
    --textPink: #F20587;
    --selectedBlue: #292335;
}

body{
    background-color: var(--bgBlue);
    color: var(--textWhite);
    font-family: 'Inter', sans-serif;
}

.container{
    padding: 0 10rem;
}